.homeps .el-tabs__nav-wrap::after {
    background-color: transparent;
}

.homeps .el-radio-button__inner {
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0.26042rem !important;
    padding: 0.02604rem 0.10417rem;
    font-size: 0.09375rem;
}

.homeps .el-tabs__header {
    height: 0;
}

.homeps .el-tab-pane {
    height: 0.9375rem;
    padding-right: 0.05208rem;
            }