.marginTop_20[data-v-4fb231f6] {
    margin-top: 0.10417rem !important;
}

.noHonorList[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 90%;
    width: 90%;
    margin: 0.07292rem auto 0.14583rem;
    font-size: 0.11458rem;
    color: #fff;
}

.noHonorList img[data-v-4fb231f6] {
    width: 0.78125rem;
    margin-bottom: 0.15625rem;
}

.name[data-v-4fb231f6] {
    height: 100%;
    padding: 0.14583rem 0.10417rem 0 0.10417rem;
}

.name .nam-nav[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 0.18229rem;
    background-color: #434c6c;
    font-size: 0.10417rem;
    color: #fff;
}

.name .nam-nav .shuju[data-v-4fb231f6] {
    margin-right: 0.05208rem;
}

.name .boxname[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.nav .item-nav[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 0.26042rem;
    font-size: 0.125rem;
    color: #fff;
}

.nav .item-nav .xueshen[data-v-4fb231f6] {
    margin-left: 0.05208rem;
}

.nav .nav-item[data-v-4fb231f6] {
    height: 4.09375rem;
    box-sizing: border-box;
}

.nav .nav-item .leida[data-v-4fb231f6] {
    height: 1.90104rem;
}

.nav .nav-item .leida .title[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 0.26042rem;
    color: #fff;
}

.nav .nav-item .leida .title .imgews[data-v-4fb231f6] {
    width: 0.18229rem;
    height: 0.18229rem;
}

.nav .nav-item .leida .title .text[data-v-4fb231f6] {
    font-size: 0.10417rem;
}

.nav .nav-item .leida .title .text .reds[data-v-4fb231f6] {
    color: #fe7c9d;
}

.nav .nav-item .leida .boxitem[data-v-4fb231f6] {
    width: 2.76042rem;
    height: 1.5625rem;
    box-sizing: border-box;
}

.nav .bottom-pas[data-v-4fb231f6] {
    height: 1.875rem;
}

.nav .bottom-pas .bottom-nav[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 0.26042rem;
    padding: 0 0.10417rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.nav .bottom-pas .bottom-nav .tongji[data-v-4fb231f6] {
    font-size: 0.10417rem;
    color: #d79361;
}

.nav .bottom-pas .pas-item[data-v-4fb231f6] {
    width: 2.47396rem;
    height: 1.44271rem;
    margin-left: 0.05208rem;
    box-sizing: border-box;
}

.nav .bottom-pas .pas-item .tab[data-v-4fb231f6] {
    width: 100%;
    text-align: center;
    border: solid 0.00521rem #687097;
    box-sizing: border-box;
    border-radius: 0.07813rem;
    color: #fff;
}

.nav .bottom-pas .pas-item .tab tr[data-v-4fb231f6] {
    font-size: 0.07292rem;
    font-weight: bold;
    border-bottom: 0.00521rem solid #fff;
}

.nav .bottom-pas .pas-item .tab td[data-v-4fb231f6] {
    color: #fff;
    font-size: 0.07292rem;
    font-weight: bold;
    border-top: 0.00521rem solid #687097;
    padding: 0.0625rem 0.05208rem;
}

.nav .bottom-pas .pas-item .tab thead[data-v-4fb231f6] {
    height: 0.26042rem;
    color: #ffbe87;
}

.nav .bottom-pas .pas-item .tab thead th[data-v-4fb231f6] {
    height: 0.17708rem;
    font-size: 0.07292rem;
    font-weight: bold;
    padding: 0.05208rem 0.05208rem;
}

.nav .bottom-pas .tap-text[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 0.18229rem;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 0.20833rem;
    padding: 0 0.13021rem;
    box-sizing: border-box;
    color: #8a93b7;
    font-size: 0.06771rem;
    line-height: 0.10417rem;
}

.nav .bottom-pas .tap-text .imgse[data-v-4fb231f6] {
    width: 0.10417rem;
    height: 0.10417rem;
}

.aic[data-v-4fb231f6] {
    width: 0.26042rem;
    height: 0.10417rem;
    line-height: 0.10417rem;
    border-radius: 0.05208rem;
    color: #fff;
    background-color: #fcb97f !important;
}

.outerCenter .centen-bottom[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-left: 0.15625rem;
    margin-right: 0.15625rem;
    height: 0.52083rem;
    margin-top: 0.14583rem;
    border-radius: 0.07813rem;
    overflow: hidden;
    background-color: #424a6c;
}

.outerCenter .centen-bottom .bottom-item[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.outerCenter .centen-bottom .bottom-item .name[data-v-4fb231f6] {
    width: 100%;
    height: 0.20833rem;
    line-height: 0.26042rem;
    font-size: 0.09375rem;
    color: #fff;
    padding: 0;
}

.outerCenter .centen-bottom .bottom-item .shulian[data-v-4fb231f6] {
    width: 100%;
    height: 0.26042rem;
    line-height: 0.26042rem;
    font-size: 0.14583rem;
}

.centen[data-v-4fb231f6] {
    margin-left: 0.15625rem;
    margin-right: 0.15625rem;
    background-color: #424a6c;
    height: 3.59375rem;
    border-radius: 0.07813rem;
}

.centen .centen-item[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 3.77083rem;
    height: 3.22917rem;
    border-radius: 0.07813rem;
    margin-right: 0.05208rem;
}

.centen .centen-item .centen[data-v-4fb231f6] {
    width: 1.66667rem;
    height: 1.4375rem;
    border-radius: 0.05208rem;
    border: solid 0.00521rem #616990;
    margin: 0;
}

.centen .centen-item .centen .centenitem-top[data-v-4fb231f6] {
    width: 1.19792rem;
    height: 0.21354rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #39405d;
    margin: 0 auto;
    border-bottom-right-radius: 0.05208rem;
    border-bottom-left-radius: 0.05208rem;
    color: #0fc89c;
}

.centen .centen-item .centen .centenitem-top span[data-v-4fb231f6] {
    text-align: center;
    line-height: 0.21354rem;
    font-size: 0.10417rem;
}

.centen .centen-item .centen .centenitemcenten[data-v-4fb231f6] {
    margin: 0 auto;
    width: 100%;
    height: 1.04167rem;
}

.centen .centen-item .centen .centenitem-bottom .bottom-p[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #41496b;
}

.centen .centen-item .centen .centenitem-bottom .bottom-p .imgpa[data-v-4fb231f6] {
    width: 0.10417rem;
    height: 0.10417rem;
    background-color: #fff;
}

.centen .cententop[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 0.3125rem;
}

.centen .cententop .trapezoid img[data-v-4fb231f6] {
    margin-bottom: -0.02604rem;
}

.centen .cententop .trapezoid[data-v-4fb231f6] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 0.3125rem;
    font-size: 0.15625rem;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 0.05208rem;
    z-index: 5;
}

.centen .cententop .trapezoid[data-v-4fb231f6]::after {
    content: "";
    border-top: 0.3125rem solid #656b85;
    border-left: 0.13021rem solid transparent;
    border-right: 0.13021rem solid transparent;
    top: 0;
    bottom: 0;
    right: 25%;
    left: 25%;
    position: absolute;
    z-index: -1;
}

.centen .cententop .top-item[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.10417rem;
    color: #fff;
}

.centen .cententop .top-item .el-carousel__container[data-v-4fb231f6],
.centen .cententop .top-item .el-carousel--horizontal[data-v-4fb231f6] {
    height: 1.5625rem;
}

.centen .cententop .top-item .qingk[data-v-4fb231f6] {
    margin-left: 0.07813rem;
}

.centen .cententop .yican[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 0.15625rem;
    border-radius: 0.07813rem;
    color: #fff;
    font-size: 0.08333rem;
}

.centen .cententop .yican .yuandin-item[data-v-4fb231f6] {
    width: 0.10417rem;
    height: 0.10417rem;
    background-color: #fff;
}

.centen .bottom-box[data-v-4fb231f6] {
    width: 100%;
}

.centen .bottom-box .bottom-box-item[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #a4abd2;
}

.centen .bottom-box .bottom-box-item .imges[data-v-4fb231f6] {
    width: 0.10417rem;
    height: 0.10417rem;
}

[data-v-4fb231f6] .el-carousel__button {
    width: 0.05208rem;
    height: 0.05208rem;
    background-color: #fff;
    border-radius: 50%;
}

.wrap_lg_height[data-v-4fb231f6] {
    width: 3.77083rem;
}

.full_height[data-v-4fb231f6] {
    margin-top: 0.21875rem;
}

.top-item[data-v-4fb231f6] {
    height: 1.59375rem;
    margin-bottom: 0.15625rem;
}

.bottom-item[data-v-4fb231f6] {
    height: 2.08333rem;
}

.item-left .total[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.10417rem 0.10417rem 0 0.10417rem;
}

.item-left .total p[data-v-4fb231f6] {
    font-size: 0.13542rem;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0.20833rem;
    font-weight: bold;
}

.item-left .total p span[data-v-4fb231f6] {
    display: block;
    padding: 0.01042rem 0.03125rem;
    background: #fca862;
    border-radius: 0.03125rem;
    margin-left: 0.0625rem;
}

.item-left .total p:last-of-type span[data-v-4fb231f6] {
    background: #a696f7;
}

.census[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    height: 1.25rem;
    position: relative;
}

.census .ranking[data-v-4fb231f6] {
    width: 1.04167rem;
    color: #fff;
    background: -webkit-linear-gradient(220deg, #3d3f65 0%, #484d73 100%);
    background: linear-gradient(-130deg, #3d3f65 0%, #484d73 100%);
    border-radius: 0.07292rem;
    padding: 0.02083rem;
    box-shadow: 0 0 0.08333rem rgba(48, 54, 82, 0.6);
}

.census .border[data-v-4fb231f6] {
    border: 0.00521rem solid #63aeea;
    border-radius: 0.07292rem;
    height: 0.92708rem;
}

.census[data-v-4fb231f6] ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0.0625rem;
    padding: 0 0.0625rem;
    font-size: 0.08333rem;
}

.census[data-v-4fb231f6] ul li p {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.census[data-v-4fb231f6] ul li img {
    margin-right: 0.03125rem;
    width: 0.13021rem;
}

.census .title[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-bottom: 0.00521rem solid #63aeea;
    padding: 0.04167rem 0;
    margin-bottom: 0.08333rem;
    font-size: 0.09375rem;
}

.census .title span[data-v-4fb231f6] {
    font-weight: bold;
}

.census .title img[data-v-4fb231f6] {
    margin-right: 0.02083rem;
    width: 0.13542rem;
}

.census .chart[data-v-4fb231f6] {
    height: 0.9375rem;
    width: 58%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.census[data-v-4fb231f6]::after {
    content: "";
    width: 100%;
    height: 0.01042rem;
    position: absolute;
    bottom: 0;
    display: block;
    background: -webkit-linear-gradient(bottom, #44486a 0%, #383b5a 100%);
    background: linear-gradient(to top, #44486a 0%, #383b5a 100%);
}

.census[data-v-4fb231f6]:last-of-type::after {
    display: none;
}

.area .big_title[data-v-4fb231f6] {
    font-size: 0.1875rem;
    color: #fff;
    font-weight: bolder;
    display: block;
    text-align: center;
    padding: 0.05208rem 0;
}

.area .map[data-v-4fb231f6] {
    width: 76%;
    height: 1.875rem;
    margin: 0.05208rem auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.area .map .mapcontent[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0.07292rem auto 0.14583rem;
    font-size: 0.11458rem;
    color: #fff;
}

.area .map .mapcontent img[data-v-4fb231f6] {
    margin-bottom: 0.15625rem;
    width: 1.04167rem;
}

.area ul[data-v-4fb231f6] {
    position: absolute;
    top: 0.10417rem;
    right: 0.04167rem;
}

.area ul li[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0.20833rem;
    color: #fff;
    font-size: 0.10417rem;
}

.area ul li span[data-v-4fb231f6] {
    font-size: 0.16667rem;
    font-weight: bolder;
}

.area ul li:first-of-type span[data-v-4fb231f6] {
    color: #f7b078;
}

.area ul li:nth-of-type(2) span[data-v-4fb231f6] {
    color: #baadff;
}

.area ul li:nth-of-type(3) span[data-v-4fb231f6] {
    color: #59e0dc;
}

.area .tips[data-v-4fb231f6] {
    width: 100%;
    margin: 0 auto;
    font-size: 0.10417rem;
    color: #8a8dae;
    text-align: center;
    padding: 0.03125rem;
}

.switch[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    float: right;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    right: 0;
}

.switch span[data-v-4fb231f6] {
    font-size: 0.11458rem;
    color: #898dad;
    padding: 0 0.0625rem;
    line-height: 0.11458rem;
    border-right: 0.00521rem solid #898dad;
    font-weight: normal;
}

.switch span[data-v-4fb231f6]:last-of-type {
    border: none;
    padding-right: 0;
}

.switch span.cur[data-v-4fb231f6] {
    color: #fff;
}

.table[data-v-4fb231f6] {
    width: 90%;
    margin: 0 auto;
    border-radius: 0.10417rem;
    border: 0.01042rem solid #5a6288;
    height: 1.27604rem;
}

.table .th[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #4f5677;
    padding: 0.05208rem 0;
    font-size: 0.09375rem;
}

.table .th span[data-v-4fb231f6] {
    color: #f7b078;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.table .tr[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.05208rem 0;
}

.table .tr span[data-v-4fb231f6] {
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #fff;
    font-size: 0.08333rem;
    display: block;
}

.table .reach[data-v-4fb231f6] {
    color: #f7b078 !important;
}

.table .not_reach[data-v-4fb231f6] {
    color: #fb6889 !important;
}

.flow[data-v-4fb231f6] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0.10417rem;
}

.stuCompareChart[data-v-4fb231f6] {
    height: 1.35417rem;
    position: relative;
    z-index: 99;
}

.flow .main[data-v-4fb231f6] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47%;
    flex: 0 0 47%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.flow .school_name[data-v-4fb231f6] {
    width: 0.16667rem;
    border-radius: 0.0625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    background: #e59755;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.flow .school_name span[data-v-4fb231f6] {
    color: #fff;
    text-align: center;
    font-size: 0.10417rem;
    margin-left: -0.00521rem;
    font-weight: bold;
}

.flow .main[data-v-4fb231f6]:first-of-type {
    border: 0.02083rem solid #e59755;
    border-radius: 0.0625rem;
}

.flow .main[data-v-4fb231f6]:last-of-type {
    border: 0.02083rem solid #9688f7;
    border-radius: 0.0625rem;
}

.flow .main:last-of-type .school_name[data-v-4fb231f6] {
    background: #9688f7;
}

.flow .main .strong span[data-v-4fb231f6] {
    color: #e59755;
    font-size: 0.10938rem;
    font-weight: bold;
    line-height: 0.11458rem;
}

.flow .strong[data-v-4fb231f6] {
    background: #39405d;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0.03125rem 0 0.02083rem;
    border-radius: 0.04167rem;
    margin-bottom: 0.02604rem;
    width: 0.52083rem;
}

.flow .strong p[data-v-4fb231f6] {
    color: #fff;
    font-size: 0.07292rem;
}

.flow .main-item[data-v-4fb231f6] {
    text-align: center;
    margin-left: 0.08333rem;
    padding: 0.04167rem 0 0.02083rem;
}

.flow .main-item>p[data-v-4fb231f6] {
    font-size: 0.07813rem;
    color: #fff;
}

.flow .main-item>p i[data-v-4fb231f6] {
    font-style: normal;
    display: block;
}

.flow .main-item .green[data-v-4fb231f6] {
    color: #59e0dc;
}

.flow .main-item .red[data-v-4fb231f6] {
    color: #fc839e;
}